<nav class="nav collapsible">
    <a class="nav__brand" href="/"><img src="images/logo.svg" alt="" /></a>
    <svg class="icon icon--white nav__toggler">
      <use xlink:href="images/sprite.svg#menu"></use>
    </svg>
    <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="#">Hosting</a></li>
      <li class="nav__item"><a href="#">VPS</a></li>
      <li class="nav__item"><a href="#">Doamin</a></li>
      <li class="nav__item"><a href="#">Pricing</a></li>
    </ul>
  </nav>
  <section class="block block--dark block--skewed-left hero">
    <div class="container grid grid--1x2">
      <header class="block__header hero__content">
        <h1 class="block__heading">Cloud Hosting for Pros</h2>
        <p class="hero_tagline">Depoly your website in less than 60 seconds.</p>
        <a href="#" class="button button--accent button--stretched">get started</a>
      </header>      
      <img class="hero__image" src="images/banner.png" alt="" />        
    </div>
  </section>